@page "/upload"

<PageTitle>LCPCollection - Upload Files</PageTitle>

<h1><MudIcon Icon="@Icons.Material.Filled.CloudUpload" Color="Color.Inherit"></MudIcon> Upload Files</h1>

<div class="row mt-3">
    <div class="col-12">
        <FileUpload />
    </div>
</div>

@code {
}
