@page "/admin"
@using System.Net.Http.Json
@using lcpCl = LCPCollection.Shared.Classes
@inject HttpClient httpClient
@inject NavigationManager navManager

<PageTitle>LCPCollection - Admin</PageTitle>

<h1>Admin</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias reiciendis quod illum dicta earum aperiam suscipit! Harum voluptatem, error officia repellendus aperiam numquam aut, velit consectetur quasi pariatur beatae dolor?</h3>
        </div>
    </div>
</div>

@code {
    
}